*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #00AAFF,#00FF56);
    min-height: 100vh;
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height:  100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator > button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    outline: none;
    background-color: rgba(255,255,255,.7);
    border: 1px solid white;
    font-weight: 100;
}

.calculator > button:hover{
    background-color: rgba(255,255,255,.9);
}

.span{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    
}

.previous-output{
    color: rgba(255,255,254,.75);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.current-output{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 20px;
}